<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/cart.css" />
  <title>Panier</title>
</head>

<%- include('header'); -%>

<div class="cart-container">
  <h1>Votre Panier</h1>

  <% if (panier && panier.length> 0) { %>

  <div class="cart-grid">
    <% panier.forEach(function(item) { %>
       
     <div class="cart-item">
      <img src="/img/<%= item.image %>" alt="<%= item.marque %>" />
      <h3><%= item.marque %> <%= item.modele %></h3>
      <p class="price"><%= item.prix_location %> €</p>
      <p>Quantité: <%= item.quantity %></p>
      <p>Prix total: <%= item.prix_total %> €</p>


      <form action="/deleteProductToPanier" method="post">
        <input type="hidden" name="productId" value="<%= item.produit_id %>">
        <button type="submit"> Annuler commande </button>
      </form>
    </div> 
    <% }); %>
  </div>

  <% } else { %>
  <p class="empty-cart">Votre panier est vide.</p>
  <% } %>
</div>

<%- include('footer'); -%>
