<%-include('header'); -%>


    <div class="produit-container">
        <!-- produits Image -->
        <div class="produits-image">
            <img src="/img/<%= produits.image %>" alt="<%= produits.description %>">
        </div> 


        <!-- produits Info -->
        <div class="produit-info">
            
            <h1><%= produits.marque %> <%= produits.modele %></h1>
            <p class="price">Prix du produit : <strong><%= produits.prix_location %>€</strong><span>   <%= produits.etat %></span></p>
            <p class="description">
                <%= produits.description %>
            </p>
            <div class="availability">
                <p><strong>Retrait en magasin</strong></p>
                <p><%= produits.magasin %></p>
                <p><span class="available">&#x2705;</span> Ce produit est disponible en magasin !</p>
            </div>

            <form action="/addPanier" method="post">
                <div class="produits-container">
                    <div class="details-section">
                        <input type="hidden" name="id_product" value="<%= produits.id %>">
                        <% if(role === 'client') { %>
        
                        <div class="quantity-reserve">    
                            <div class="date-range">
                                <label for="start">Louer du</label>
                                <input type="date" id="start" name="start" required>
                                <label for="end">au</label>
                                <input type="date" id="end" name="end" required>  
                            </div>
                        </div>
                        
                            <button type="submit" class="btn-deconnexion">Réserver</button>
                        <% } %>
                        
                    </div>
                </div>
            </form>
           
        </div>
        <!-- <form action="/addPanier" method="post">
            <div class="produits-container">
                <div class="image-section">
                    <img src="/img/velo.png" alt="Vélo" class="produits-image">
                </div>
    
                <div class="details-section">
                    <h1>
                        <%= produits.type %>
                            <%= produits.modele %>
                    </h1>
                    <p class="description">
                        <%= produits.description %>
                    </p>
                    <h2 class="price">
                        <%= produits.prix_location %> €/j - <%= produits.etat %>
                    </h2>
                    <div class="delivery-info">
                        <span>Retrait <strong>GRATUIT</strong></span> en magasin et point relais
                    </div>
                    <input type="hidden" name="id_product" value="<%= produits.id %>">
                    <% if(role === 'client') { %>
    
                    <div class="quantity-reserve">    
                        <div class="date-range">
                            <label for="start">Louer du</label>
                            <input type="date" id="start" name="start" required>
                            <label for="end">au</label>
                            <input type="date" id="end" name="end" required>  
                        </div>
                    </div>
                    
                        <button type="submit" class="reserve-btn">Réserver</button>
                    <% } %>
                    
                </div>
            </div>
        </form> -->
    </div>



<%-include('footer'); -%>