<%-include('header'); -%>


    <div class="produit-container">
        <!-- Product Image -->
        <div class="product-image">
            <img src="/img/<%= produits.image %>" alt="<%= produits.description %>">
        </div>


        <!-- Product Info -->
        <div class="produit-info">
            <h1><%= produits.marque %> <%= produits.modele %></h1>
            <p class="price">Prix du produit : <strong><%= produits.prix_location %>€</strong></p>
            <p class="description">
                <%= produits.description %>
            </p>
            <div class="availability">
                <p><strong>Retrait en magasin</strong></p>
                <p><%= produits.magasin %></p>
                <p><span class="available">&#x2705;</span> Ce produit est disponible en magasin !</p>
            </div>


            <!-- Offer selection -->
            <div class="offer-selection">
                <label for="offer-select">Sélectionner une offre:</label>
                <select id="offer-select">
                    <option value="26"><%= produits.prix_location %> € / jour</option>
                </select>
            </div>


            <form action="/add-to-cart" method="post">
                <input type="hidden" name="productId" value="<%= produits.id %>">

                <% if (isAuth) { %>
                    <button class="add-to-cart" type="submit">Ajouter au panier</button>
                    <% } else { %>
                      <% } %>
        
                
            </form>
           
        </div>
    </div>


    <!-- Video section -->
    <div class="video-section">
        <a href="#">
            <img src="img/rameur.png" alt="Lancer la vidéo">
            <span>Lancer la vidéo explicative</span>
        </a>
    </div>




<%-include('footer'); -%>